In [1]:
planet = 'uranus'
planet[2]

'a'

In [3]:
name = 'peter cech'
name[0:5]

'peter'

In [11]:
name[6:10]

'cech'

In [15]:
name = input('Enter First name :')

Enter First name : Odhiambo

In [16]:
print(name)

Odhiambo

In [17]:
for i in range (16):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [18]:
for chr in name:
    print(chr)

O
d
h
i
a
m
b
o

In [19]:
for x in name:
    print(x)

O
d
h
i
a
m
b
o

In [20]:
tank = input('Enter fish')

Enter fish salmom8

In [21]:
for x in tank:
    print(x)

s
a
l
m
o
m
8

In [23]:
for i in range(1,9,3):
    print(i)

1
4
7

In [1]:
"""
Series
here"""

#1,2,3,4,5,6,7,8,9,10

for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [2]:
for x in range(1,11):
    print(x, end=",")

1,2,3,4,5,6,7,8,9,10,

In [4]:
total=0
for x in range(1,11):
    total+=x
    print(x, end=",")

print('\n',total)

1,2,3,4,5,6,7,8,9,10,
 55

In [5]:
#2,4,6,8,10
for x in range(2,11,2):
    print(x, end=",")

2,4,6,8,10,

In [6]:
for x in range(1,36,4):
    print(x, end=',')

1,5,9,13,17,21,25,29,33,

In [7]:
x=int(input("Enter Age:"))
y=int(input("Enter Age:"))
z=int(input("Enter Age:"))
xy=int(input("Enter Age:"))

total=x+y+z+xy
average=total/4

print(total, average)

Enter Age: 23
Enter Age: 45
Enter Age: 89
Enter Age: 12

169 42.25

In [9]:
for x in range(4):
    x=int(input("Enter Age"))
    total +=x
    print(x,end=',')

print('\n',total,total/4)

Enter Age 32

32,

Enter Age 89

89,

Enter Age 90

90,

Enter Age 45

45,
 649 162.25

In [11]:
total=0
for x in range(7):
    x=int(input('Enter a number'))
    total+=x
    print(x, end=',')
    average=(total/7)

print('\n',total,average)

Enter a number 34

34,

Enter a number 89

89,

Enter a number 34

34,

Enter a number 87

87,

Enter a number 12

12,

Enter a number 54

54,

Enter a number 90

90,
 400 57.142857142857146