## Data Loading

In [1]:
#importing pandas and storing it in the variable 'pd'

import pandas as pd

In [2]:
#loading the data from the excel sheet and storing it in the variable 'df'

df=pd.read_csv('DataFiles/census.csv')

In [3]:
#presenting the data by calling the variable it was stored in

df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

## Data inspection

In [4]:
#getting information on the data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
#getting rows and columns of the dataset

df.shape

(32561, 15)

In [6]:
#getting the values in the dataset

df.values

array([[90, '?', 77053, ..., 40, 'United-States', '<=50K'],
       [82, 'Private', 132870, ..., 18, 'United-States', '<=50K'],
       [66, '?', 186061, ..., 40, 'United-States', '<=50K'],
       ...,
       [40, 'Private', 154374, ..., 40, 'United-States', '>50K'],
       [58, 'Private', 151910, ..., 40, 'United-States', '<=50K'],
       [22, 'Private', 201490, ..., 20, 'United-States', '<=50K']],
      dtype=object)

In [7]:
#getting the columns in the dataset

df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [8]:
#getting statistical information concerning the dataset

df.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

## Data cleaning

In [9]:
#checking the number of empty entries

df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [10]:
#checking for duplications 

df[df.duplicated()]

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
8453,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
8645,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
12202,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
14346,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
15603,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
17344,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
19067,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
20388,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,?,<=50K
20507,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
22783,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
22934,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
23276,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
23660,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
23720,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K
23827,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
26738,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
27133,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
28796,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
29051,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
29334,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29604,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
31060,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32065,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
32419,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K

In [11]:
#dropping duplicates

df=df.drop_duplicates()
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

## Data Manipulation

In [12]:
#finds initial total population

population=df['fnlwgt'].sum()
population

6174899468

In [13]:
#finds accurate total population as per 1994 Census gotten from research

accPopulation=population/197000000
accPopulation

31.344667350253808

In [14]:
#getting the new "fnlwgt"

df['fnlwgt']=(df['fnlwgt']//accPopulation)
df

C:\Users\User\AppData\Local\Temp\ipykernel_6476\3952274534.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fnlwgt']=(df['fnlwgt']//accPopulation)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,2458.0,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,4238.0,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,5935.0,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,4477.0,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,8443.0,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,9894.0,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,8208.0,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,4925.0,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,4846.0,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,6428.0,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [15]:
#getting new total population

newPopulation=df['fnlwgt'].sum()
newPopulation

196983752.0

In [16]:
#getting children population

children=df[df['age']<18]
totalChildren=children['fnlwgt'].sum()
totalChildren

2340242.0

In [17]:
#getting percentage population of children with respect to the whole population

totalChildrenPercent=totalChildren*(100/newPopulation)
totalChildrenPercent

1.188038087527138

In [18]:
#getting population of the youth

youth=df[(df['age']>=18) & (df['age'] <=35)]
totalYouth=youth['fnlwgt'].sum()
totalYouth

91453063.0

In [19]:
#getting percentage population of the youth with respect to the whole population

totalYouthPercent=totalYouth*(100/newPopulation)
totalYouthPercent

46.42670376184123

In [20]:
#getting population of the middle aged

middleAge=df[(df['age']>=36) & (df['age'] <=60)]
totalMiddleAge=middleAge['fnlwgt'].sum()
totalMiddleAge

90248860.0

In [21]:
#getting percentage population of the middle aged with respect to the whole population

totalMiddleAgePercent=totalMiddleAge*(100/newPopulation)
totalMiddleAgePercent

45.81538278344907

In [22]:
#getting population of the old

old=df[(df['age']>60) & (df['age'] <=80)]
totalOld=old['fnlwgt'].sum()
totalOld

12428439.0

In [23]:
#getting percentage population of the old with respect to the whole population

totalOldPercent=totalOld*(100/newPopulation)
totalOldPercent

6.309372663385964

In [24]:
#getting population of the very old

veryOld=df[df['age']>80]
totalVeryOld=veryOld['fnlwgt'].sum()
totalVeryOld

513148.0

In [25]:
#getting percentage population of the very old with respect to the whole population

totalVeryOldPercent=totalVeryOld*(100/newPopulation)
totalVeryOldPercent

0.26050270379660556

In [26]:
#getting the set of characteristics with the most number of people

modalCharacter= df.loc[df['fnlwgt'].idxmax()]
modalCharacter

age                            25
workclass                 Private
fnlwgt                    47367.0
education            Some-college
education.num                  10
marital.status           Divorced
occupation        Exec-managerial
relationship            Unmarried
race                        White
sex                        Female
capital.gain                    0
capital.loss                    0
hours.per.week                 25
native.country      United-States
income                      <=50K
Name: 16804, dtype: object

In [27]:
#getting the percentage population of this particular number with respect to the whole population

modalCharacterPercent=modalCharacter['fnlwgt']*(100/newPopulation)
modalCharacterPercent

0.024046145694290564

In [28]:
#getting the set of characteristics with the least number of people

minCharacter= df.loc[df['fnlwgt'].idxmin()]
minCharacter

age                               25
workclass                          ?
fnlwgt                         391.0
education               Some-college
education.num                     10
marital.status         Never-married
occupation                         ?
relationship           Not-in-family
race              Amer-Indian-Eskimo
sex                           Female
capital.gain                       0
capital.loss                       0
hours.per.week                    20
native.country         United-States
income                         <=50K
Name: 19115, dtype: object

In [29]:
#getting the percentage population of this particular number with respect to the whole population

minCharacterPercent=minCharacter['fnlwgt']*(100/newPopulation)
minCharacterPercent

0.00019849352854239472

In [30]:
#getting the set of characteristics with the most number of people among children

modalCharacterChildren= children.loc[children['fnlwgt'].idxmax()]
modalCharacterChildren

age                          17
workclass                     ?
fnlwgt                  25724.0
education                  11th
education.num                 7
marital.status    Never-married
occupation                    ?
relationship          Own-child
race                      White
sex                      Female
capital.gain                  0
capital.loss                  0
hours.per.week               20
native.country    United-States
income                    <=50K
Name: 24600, dtype: object

In [31]:
#getting the percentage population of this particular number with respect to the whole population

modalCharacterChildrenPercent=modalCharacterChildren['fnlwgt']*(100/totalChildren)
modalCharacterChildrenPercent

1.0992025611026552

In [32]:
#getting the set of characteristics with the most number of people among the youth

modalCharacterYouth= youth.loc[youth['fnlwgt'].idxmax()]
modalCharacterYouth

age                            25
workclass                 Private
fnlwgt                    47367.0
education            Some-college
education.num                  10
marital.status           Divorced
occupation        Exec-managerial
relationship            Unmarried
race                        White
sex                        Female
capital.gain                    0
capital.loss                    0
hours.per.week                 25
native.country      United-States
income                      <=50K
Name: 16804, dtype: object

In [33]:
#getting the percentage population of this particular number with respect to the whole population

modalCharacterYouthPercent=modalCharacterYouth['fnlwgt']*(100/totalYouth)
modalCharacterYouthPercent

0.051793781909743146

In [34]:
#getting the set of characteristics with the most number of people among the middle aged

modalCharacterMiddleAge= middleAge.loc[middleAge['fnlwgt'].idxmax()]
modalCharacterMiddleAge

age                          39
workclass               Private
fnlwgt                  46433.0
education            Assoc-acdm
education.num                12
marital.status        Separated
occupation         Craft-repair
relationship      Not-in-family
race                      White
sex                        Male
capital.gain                  0
capital.loss                  0
hours.per.week               40
native.country    United-States
income                    <=50K
Name: 20027, dtype: object

In [35]:
#getting the percentage population of this particular number with respect to the whole population

modalCharacterMiddleAgePercent=modalCharacterMiddleAge['fnlwgt']*(100/totalMiddleAge)
modalCharacterMiddleAgePercent

0.051449957373422776

In [37]:
#getting the set of characteristics with the most number of people among the old

modalCharacterOld= old.loc[old['fnlwgt'].idxmax()]
modalCharacterOld

age                             63
workclass         Self-emp-not-inc
fnlwgt                     25389.0
education                  1st-4th
education.num                    2
marital.status             Widowed
occupation           Other-service
relationship             Unmarried
race                         White
sex                         Female
capital.gain                     0
capital.loss                     0
hours.per.week                  30
native.country         El-Salvador
income                       <=50K
Name: 5350, dtype: object

In [38]:
#getting the percentage population of this particular number with respect to the whole population

modalCharacterOldPercent=modalCharacterOld['fnlwgt']*(100/totalOld)
modalCharacterOldPercent

0.2042814869992925

In [39]:
#getting the set of characteristics with the most number of people among the very old

modalCharacterVeryOld= veryOld.loc[veryOld['fnlwgt'].idxmax()]
modalCharacterVeryOld

age                          82
workclass                     ?
fnlwgt                  12886.0
education               HS-grad
education.num                 9
marital.status    Never-married
occupation                    ?
relationship      Not-in-family
race                      White
sex                        Male
capital.gain                  0
capital.loss                  0
hours.per.week                3
native.country    United-States
income                    <=50K
Name: 32500, dtype: object

In [40]:
#getting the percentage population of this particular number with respect to the whole population

modalCharacterVeryOldPercent=modalCharacterVeryOld['fnlwgt']*(100/totalVeryOld)
modalCharacterVeryOldPercent

2.5111663691566566

In [41]:
#getting the set of characteristics with the least number of people among the children

minCharacterChildren= children.loc[children['fnlwgt'].idxmin()]
minCharacterChildren

age                          17
workclass               Private
fnlwgt                    630.0
education                  11th
education.num                 7
marital.status    Never-married
occupation        Other-service
relationship          Own-child
race                      Black
sex                      Female
capital.gain                  0
capital.loss                  0
hours.per.week               25
native.country    United-States
income                    <=50K
Name: 20423, dtype: object

In [42]:
#getting the percentage population of this particular number with respect to the whole population

minCharacterChildrenPercent=minCharacterChildren['fnlwgt']*(100/totalChildren)
minCharacterChildrenPercent

0.026920292858601803

In [43]:
#getting the set of characteristics with the least number of people among the youth

minCharacterYouth= youth.loc[youth['fnlwgt'].idxmin()]
minCharacterYouth

age                               25
workclass                          ?
fnlwgt                         391.0
education               Some-college
education.num                     10
marital.status         Never-married
occupation                         ?
relationship           Not-in-family
race              Amer-Indian-Eskimo
sex                           Female
capital.gain                       0
capital.loss                       0
hours.per.week                    20
native.country         United-States
income                         <=50K
Name: 19115, dtype: object

In [44]:
#getting the percentage population of this particular number with respect to the whole population

minCharacterYouthPercent=minCharacterYouth['fnlwgt']*(100/totalYouth)
minCharacterYouthPercent

0.00042754172159329426

In [45]:
#getting the set of characteristics with the least number of people among the middle aged

minCharacterMiddleAge= middleAge.loc[middleAge['fnlwgt'].idxmin()]
minCharacterMiddleAge

age                               46
workclass                  Local-gov
fnlwgt                         474.0
education                Prof-school
education.num                     15
marital.status    Married-civ-spouse
occupation            Prof-specialty
relationship                 Husband
race              Asian-Pac-Islander
sex                             Male
capital.gain                       0
capital.loss                       0
hours.per.week                    40
native.country           Philippines
income                          >50K
Name: 26634, dtype: object

In [46]:
#getting the percentage population of this particular number with respect to the whole population

minCharacterMiddleAgePercent=minCharacterMiddleAge['fnlwgt']*(100/totalMiddleAge)
minCharacterMiddleAgePercent

0.0005252143905197251

In [47]:
#getting the set of characteristics with the least number of people among the old

minCharacterOld= old.loc[old['fnlwgt'].idxmin()]
minCharacterOld

age                               80
workclass                  Local-gov
fnlwgt                         641.0
education                    HS-grad
education.num                      9
marital.status               Widowed
occupation             Other-service
relationship               Unmarried
race              Amer-Indian-Eskimo
sex                           Female
capital.gain                       0
capital.loss                       0
hours.per.week                    32
native.country         United-States
income                         <=50K
Name: 21216, dtype: object

In [48]:
#getting the percentage population of this particular number with respect to the whole population

minCharacterOldPercent=minCharacterOld['fnlwgt']*(100/totalOld)
minCharacterOldPercent

0.005157526218698904

In [49]:
#getting the set of characteristics with the least number of people among the old

minCharacterVeryOld= veryOld.loc[veryOld['fnlwgt'].idxmin()]
minCharacterVeryOld

age                          82
workclass                     ?
fnlwgt                    939.0
education               7th-8th
education.num                 4
marital.status          Widowed
occupation                    ?
relationship      Not-in-family
race                      White
sex                        Male
capital.gain                  0
capital.loss                  0
hours.per.week                5
native.country    United-States
income                    <=50K
Name: 7005, dtype: object

In [50]:
#getting the percentage population of this particular number with respect to the whole population

minCharacterVeryOldPercent=minCharacterVeryOld['fnlwgt']*(100/totalVeryOld)
minCharacterVeryOldPercent

0.1829881437713876

In [52]:
# getting the age with the most people
individualAge=df.groupby('age')['fnlwgt'].sum()
maxIndividualAge=individualAge.idxmax()
individualAgeMax=individualAge.max()
maxIndividualAge

23

In [53]:
# getting the number of people of this age

individualAgeMax

5758893.0

In [54]:
# getting the percentage of this number with respect to the total population

individualAgeMaxPercent=individualAgeMax*(100/newPopulation)
individualAgeMaxPercent

2.9235370641127805

In [55]:
## age with fewest people
individualAgeFew=df.groupby('age')['fnlwgt'].sum()
minIndividualAge=individualAge.idxmin()
individualAgeMin=individualAge.min()
minIndividualAge

87

In [56]:
# the number of people of this age

individualAgeMin

2882.0

In [57]:
#the percentage of this number with respect to the total population

individualAgeMinPercent=individualAgeMin*(100/newPopulation)
individualAgeMinPercent

0.0014630648318649144

In [58]:
#mean age
meanAge=(df['age'] * df['fnlwgt']).sum() / df['fnlwgt'].sum()
meanAge

38.005624509578844

Work class distribution

In [59]:
#grouping the poulation with respect to workclass 

workClass=df.groupby('workclass')['fnlwgt'].sum()
workClass

workclass
?                    11041347.0
Federal-gov           5672333.0
Local-gov            12595111.0
Never-worked            50465.0
Private             139423718.0
Self-emp-inc          6265108.0
Self-emp-not-inc     14233303.0
State-gov             7624538.0
Without-pay             77829.0
Name: fnlwgt, dtype: float64

In [60]:
#getting the percentage of the numbers with respect to the total population

percentageWorkClass=(workClass/newPopulation) * 100
percentageWorkClass

workclass
?                    5.605207
Federal-gov          2.879594
Local-gov            6.393985
Never-worked         0.025619
Private             70.779299
Self-emp-inc         3.180520
Self-emp-not-inc     7.225623
State-gov            3.870643
Without-pay          0.039510
Name: fnlwgt, dtype: float64

In [60]:
#work class per age group
childrenWorkClass=children.groupby('workclass')['fnlwgt'].sum()
childrenWorkClass

workclass
?                    426216.0
Federal-gov            3186.0
Local-gov             84276.0
Never-worked           7569.0
Private             1726154.0
Self-emp-inc          49888.0
Self-emp-not-inc      33472.0
State-gov              9481.0
Name: fnlwgt, dtype: float64

In [61]:
childrenPercentageWorkClass=(childrenWorkClass/totalChildren) * 100
childrenPercentageWorkClass

workclass
?                   18.212475
Federal-gov          0.136140
Local-gov            3.601166
Never-worked         0.323428
Private             73.759637
Self-emp-inc         2.131745
Self-emp-not-inc     1.430279
State-gov            0.405129
Name: fnlwgt, dtype: float64

In [62]:
youthWorkClass=youth.groupby('workclass')['fnlwgt'].sum()
youthWorkClass

workclass
?                    5469445.0
Federal-gov          1656975.0
Local-gov            4141603.0
Never-worked           42896.0
Private             71638967.0
Self-emp-inc         1255817.0
Self-emp-not-inc     3976303.0
State-gov            3234804.0
Without-pay            36253.0
Name: fnlwgt, dtype: float64

In [63]:
youthPercentageWorkClass=(youthWorkClass/totalYouth) * 100
youthPercentageWorkClass

workclass
?                    5.980603
Federal-gov          1.811831
Local-gov            4.528665
Never-worked         0.046905
Private             78.334136
Self-emp-inc         1.373182
Self-emp-not-inc     4.347917
State-gov            3.537119
Without-pay          0.039641
Name: fnlwgt, dtype: float64

In [64]:
middleAgeWorkClass=middleAge.groupby('workclass')['fnlwgt'].sum()
middleAgeWorkClass

workclass
?                    2414281.0
Federal-gov          3696074.0
Local-gov            7532405.0
Private             60080554.0
Self-emp-inc         4199176.0
Self-emp-not-inc     8341677.0
State-gov            3973832.0
Without-pay            10861.0
Name: fnlwgt, dtype: float64

In [65]:
middleAgePercentageWorkClass=(middleAgeWorkClass/totalMiddleAge) * 100
middleAgePercentageWorkClass

workclass
?                    2.675137
Federal-gov          4.095425
Local-gov            8.346261
Private             66.572092
Self-emp-inc         4.652885
Self-emp-not-inc     9.242972
State-gov            4.403194
Without-pay          0.012035
Name: fnlwgt, dtype: float64

In [66]:
oldWorkClass=old.groupby('workclass')['fnlwgt'].sum()
oldWorkClass

workclass
?                   2618747.0
Federal-gov          309864.0
Local-gov            802270.0
Private             5740201.0
Self-emp-inc         717593.0
Self-emp-not-inc    1806845.0
State-gov            402204.0
Without-pay           30715.0
Name: fnlwgt, dtype: float64

In [67]:
oldPercentageWorkClass=(oldWorkClass/totalOld) * 100
oldPercentageWorkClass

workclass
?                   21.070603
Federal-gov          2.493185
Local-gov            6.455115
Private             46.186017
Self-emp-inc         5.773798
Self-emp-not-inc    14.537988
State-gov            3.236159
Without-pay          0.247135
Name: fnlwgt, dtype: float64

In [68]:
veryOldWorkClass=veryOld.groupby('workclass')['fnlwgt'].sum()
veryOldWorkClass

workclass
?                   112658.0
Federal-gov           6234.0
Local-gov            34557.0
Private             237842.0
Self-emp-inc         42634.0
Self-emp-not-inc     75006.0
State-gov             4217.0
Name: fnlwgt, dtype: float64

In [69]:
veryOldPercentageWorkClass=(veryOldWorkClass/totalVeryOld) * 100
veryOldPercentageWorkClass

workclass
?                   21.954290
Federal-gov          1.214854
Local-gov            6.734314
Private             46.349591
Self-emp-inc         8.308324
Self-emp-not-inc    14.616836
State-gov            0.821790
Name: fnlwgt, dtype: float64

Education distribution

In [61]:
# grouping population by education levels

education=df.groupby('education')['fnlwgt'].sum()
education

education
10th             5858418.0
11th             7306582.0
12th             2750153.0
1st-4th          1270014.0
5th-6th          2461656.0
7th-8th          3874908.0
9th              3320168.0
Assoc-acdm       6583795.0
Assoc-voc        8020944.0
Bachelors       32103689.0
Doctorate        2459749.0
HS-grad         63452390.0
Masters          9876763.0
Preschool         376017.0
Prof-school      3411536.0
Some-college    43856970.0
Name: fnlwgt, dtype: float64

In [71]:
percentageEducation=(education/newPopulation) * 100
percentageEducation

education
10th             2.974062
11th             3.709231
12th             1.396132
1st-4th          0.644730
5th-6th          1.249675
7th-8th          1.967121
9th              1.685503
Assoc-acdm       3.342304
Assoc-voc        4.071881
Bachelors       16.297633
Doctorate        1.248707
HS-grad         32.211992
Masters          5.013999
Preschool        0.190887
Prof-school      1.731887
Some-college    22.264258
Name: fnlwgt, dtype: float64

In [62]:
#grouping individual age groups with respect to education levels

childrenEducation=children.groupby('education')['fnlwgt'].sum()
childrenEducation

education
10th             823727.0
11th            1083515.0
12th             210984.0
5th-6th            8643.0
7th-8th           12231.0
9th              133814.0
HS-grad           51899.0
Some-college      15429.0
Name: fnlwgt, dtype: float64

In [73]:
childrenPercentageEducation=(childrenEducation/totalChildren) * 100
childrenPercentageEducation

education
10th            35.198368
11th            46.299272
12th             9.015478
5th-6th          0.369321
7th-8th          0.522638
9th              5.717956
HS-grad          2.217677
Some-college     0.659291
Name: fnlwgt, dtype: float64

In [74]:
youthEducation=youth.groupby('education')['fnlwgt'].sum()
youthEducation

education
10th             2336519.0
11th             3750060.0
12th             1638752.0
1st-4th           407873.0
5th-6th          1031435.0
7th-8th          1175233.0
9th              1341963.0
Assoc-acdm       3148529.0
Assoc-voc        3617201.0
Bachelors       14451421.0
Doctorate         502411.0
HS-grad         30327387.0
Masters          2444791.0
Preschool         120975.0
Prof-school       725790.0
Some-college    24432723.0
Name: fnlwgt, dtype: float64

In [75]:
youthPercentageEducation=(youthEducation/totalYouth) * 100
youthPercentageEducation

education
10th             2.554883
11th             4.100530
12th             1.791905
1st-4th          0.445992
5th-6th          1.127830
7th-8th          1.285067
9th              1.467379
Assoc-acdm       3.442781
Assoc-voc        3.955254
Bachelors       15.802009
Doctorate        0.549365
HS-grad         33.161696
Masters          2.673274
Preschool        0.132281
Prof-school      0.793620
Some-college    26.716134
Name: fnlwgt, dtype: float64

In [76]:
middleAgeEducation=middleAge.groupby('education')['fnlwgt'].sum()
middleAgeEducation

education
10th             2164201.0
11th             2033551.0
12th              784981.0
1st-4th           648608.0
5th-6th          1142106.0
7th-8th          1837767.0
9th              1458040.0
Assoc-acdm       3230171.0
Assoc-voc        4001670.0
Bachelors       15878837.0
Doctorate        1619820.0
HS-grad         28851771.0
Masters          6792896.0
Preschool         201282.0
Prof-school      2307333.0
Some-college    17295826.0
Name: fnlwgt, dtype: float64

In [77]:
middleAgePercentageEducation=(middleAgeEducation/totalMiddleAge) * 100
middleAgePercentageEducation

education
10th             2.398037
11th             2.253271
12th             0.869796
1st-4th          0.718688
5th-6th          1.265507
7th-8th          2.036333
9th              1.615577
Assoc-acdm       3.579182
Assoc-voc        4.434039
Bachelors       17.594501
Doctorate        1.794837
HS-grad         31.969125
Masters          7.526850
Preschool        0.223030
Prof-school      2.556634
Some-college    19.164592
Name: fnlwgt, dtype: float64

In [78]:
oldEducation=old.groupby('education')['fnlwgt'].sum()
oldEducation

education
10th             509068.0
11th             419422.0
12th             115436.0
1st-4th          194635.0
5th-6th          258933.0
7th-8th          803527.0
9th              378171.0
Assoc-acdm       199106.0
Assoc-voc        387689.0
Bachelors       1701214.0
Doctorate        337518.0
HS-grad         4055706.0
Masters          600991.0
Preschool         53760.0
Prof-school      360225.0
Some-college    2053038.0
Name: fnlwgt, dtype: float64

In [79]:
oldPercentageEducation=(oldEducation/totalOld) * 100
oldPercentageEducation

education
10th             4.095993
11th             3.374696
12th             0.928805
1st-4th          1.566045
5th-6th          2.083391
7th-8th          6.465229
9th              3.042788
Assoc-acdm       1.602019
Assoc-voc        3.119370
Bachelors       13.688075
Doctorate        2.715691
HS-grad         32.632465
Masters          4.835611
Preschool        0.432556
Prof-school      2.898393
Some-college    16.518873
Name: fnlwgt, dtype: float64

In [80]:
veryOldEducation=veryOld.groupby('education')['fnlwgt'].sum()
veryOldEducation

education
10th             24903.0
11th             20034.0
1st-4th          18898.0
5th-6th          20539.0
7th-8th          46150.0
9th               8180.0
Assoc-acdm        5989.0
Assoc-voc        14384.0
Bachelors        72217.0
HS-grad         165627.0
Masters          38085.0
Prof-school      18188.0
Some-college     59954.0
Name: fnlwgt, dtype: float64

In [81]:
veryOldPercentageEducation=(veryOldEducation/totalVeryOld) * 100
veryOldPercentageEducation

education
10th             4.852986
11th             3.904137
1st-4th          3.682758
5th-6th          4.002549
7th-8th          8.993507
9th              1.594082
Assoc-acdm       1.167110
Assoc-voc        2.803090
Bachelors       14.073328
HS-grad         32.276653
Masters          7.421835
Prof-school      3.544397
Some-college    11.683569
Name: fnlwgt, dtype: float64

marital status distribution

In [63]:
#grouping the population according to marital status

marital=df.groupby('marital.status')['fnlwgt'].sum()
marital

marital.status
Divorced                 26318309.0
Married-AF-spouse          138059.0
Married-civ-spouse       89203038.0
Married-spouse-absent     2575446.0
Never-married            66481630.0
Separated                 6750404.0
Widowed                   5516866.0
Name: fnlwgt, dtype: float64

In [83]:
percentageMarital=(marital/newPopulation) * 100
percentageMarital

marital.status
Divorced                 13.360650
Married-AF-spouse         0.070086
Married-civ-spouse       45.284465
Married-spouse-absent     1.307441
Never-married            33.749804
Separated                 3.426884
Widowed                   2.800671
Name: fnlwgt, dtype: float64

In [64]:
#grouping individual age groups based on marital status

childrenMarital=children.groupby('marital.status')['fnlwgt'].sum()
childrenMarital

marital.status
Married-civ-spouse      13016.0
Never-married         2327226.0
Name: fnlwgt, dtype: float64

In [85]:
childrenPercentageMarital=(childrenMarital/totalChildren) * 100
childrenPercentageMarital

marital.status
Married-civ-spouse     0.556182
Never-married         99.443818
Name: fnlwgt, dtype: float64

In [86]:
youthMarital=youth.groupby('marital.status')['fnlwgt'].sum()
youthMarital

marital.status
Divorced                  6684190.0
Married-AF-spouse          111462.0
Married-civ-spouse       27647464.0
Married-spouse-absent     1056634.0
Never-married            52977223.0
Separated                 2777861.0
Widowed                    198229.0
Name: fnlwgt, dtype: float64

In [87]:
youthPercentageMarital=(youthMarital/totalYouth) * 100
youthPercentageMarital

marital.status
Divorced                  7.308875
Married-AF-spouse         0.121879
Married-civ-spouse       30.231315
Married-spouse-absent     1.155384
Never-married            57.928320
Separated                 3.037472
Widowed                   0.216755
Name: fnlwgt, dtype: float64

In [88]:
middleAgeMarital=middleAge.groupby('marital.status')['fnlwgt'].sum()
middleAgeMarital

marital.status
Divorced                 18121876.0
Married-AF-spouse           18659.0
Married-civ-spouse       53826844.0
Married-spouse-absent     1404477.0
Never-married            10456416.0
Separated                 3736018.0
Widowed                   2684570.0
Name: fnlwgt, dtype: float64

In [89]:
middleAgePercentageMarital=(middleAgeMarital/totalMiddleAge) * 100
middleAgePercentageMarital

marital.status
Divorced                 20.079895
Married-AF-spouse         0.020675
Married-civ-spouse       59.642686
Married-spouse-absent     1.556227
Never-married            11.586203
Separated                 4.139684
Widowed                   2.974630
Name: fnlwgt, dtype: float64

In [90]:
oldMarital=old.groupby('marital.status')['fnlwgt'].sum()
oldMarital

marital.status
Divorced                 1476263.0
Married-AF-spouse           7938.0
Married-civ-spouse       7485747.0
Married-spouse-absent     114335.0
Never-married             642280.0
Separated                 225443.0
Widowed                  2476433.0
Name: fnlwgt, dtype: float64

In [91]:
oldPercentageMarital=(oldMarital/totalOld) * 100
oldPercentageMarital

marital.status
Divorced                 11.878105
Married-AF-spouse         0.063870
Married-civ-spouse       60.230790
Married-spouse-absent     0.919947
Never-married             5.167825
Separated                 1.813929
Widowed                  19.925535
Name: fnlwgt, dtype: float64

In [92]:
veryOldMarital=veryOld.groupby('marital.status')['fnlwgt'].sum()
veryOldMarital

marital.status
Divorced               35980.0
Married-civ-spouse    229967.0
Never-married          78485.0
Separated              11082.0
Widowed               157634.0
Name: fnlwgt, dtype: float64

In [93]:
veryOldPercentageMarital=(veryOldMarital/totalVeryOld) * 100
veryOldPercentageMarital

marital.status
Divorced               7.011622
Married-civ-spouse    44.814946
Never-married         15.294808
Separated              2.159611
Widowed               30.719013
Name: fnlwgt, dtype: float64

OCCUPATION DISTRIBUTION

In [65]:
#grouping the population according to the occupation

occupation=df.groupby('occupation')['fnlwgt'].sum()
occupation

occupation
?                    11091812.0
Adm-clerical         23087574.0
Armed-Forces            61851.0
Craft-repair         25104802.0
Exec-managerial      23915313.0
Farming-fishing       5385714.0
Handlers-cleaners     8925096.0
Machine-op-inspct    12441590.0
Other-service        19798741.0
Priv-house-serv        943408.0
Prof-specialty       24436870.0
Protective-serv       4182963.0
Sales                22226292.0
Tech-support          5683417.0
Transport-moving      9698309.0
Name: fnlwgt, dtype: float64

In [95]:
percentageOccupation=(occupation/newPopulation) * 100
percentageOccupation

occupation
?                     5.630826
Adm-clerical         11.720547
Armed-Forces          0.031399
Craft-repair         12.744605
Exec-managerial      12.140754
Farming-fishing       2.734090
Handlers-cleaners     4.530879
Machine-op-inspct     6.316049
Other-service        10.050951
Priv-house-serv       0.478927
Prof-specialty       12.405526
Protective-serv       2.123507
Sales                11.283312
Tech-support          2.885221
Transport-moving      4.923406
Name: fnlwgt, dtype: float64

In [66]:
#grouping the individual age groups according to occupation

childrenOccupation=children.groupby('occupation')['fnlwgt'].sum()
childrenOccupation

occupation
?                    433785.0
Adm-clerical         150782.0
Craft-repair          75012.0
Exec-managerial         768.0
Farming-fishing       39247.0
Handlers-cleaners    236437.0
Machine-op-inspct     12474.0
Other-service        745959.0
Priv-house-serv       46666.0
Prof-specialty        60822.0
Protective-serv       16152.0
Sales                495906.0
Tech-support           5936.0
Transport-moving      20296.0
Name: fnlwgt, dtype: float64

In [97]:
childrenPercentageOccupation=(childrenOccupation/totalChildren) * 100
childrenPercentageOccupation

occupation
?                    18.535904
Adm-clerical          6.443009
Craft-repair          3.205310
Exec-managerial       0.032817
Farming-fishing       1.677049
Handlers-cleaners    10.103100
Machine-op-inspct     0.533022
Other-service        31.875293
Priv-house-serv       1.994067
Prof-specialty        2.598962
Protective-serv       0.690185
Sales                21.190373
Tech-support          0.253649
Transport-moving      0.867261
Name: fnlwgt, dtype: float64

In [98]:
youthOccupation=youth.groupby('occupation')['fnlwgt'].sum()
youthOccupation

occupation
?                     5512341.0
Adm-clerical         11929661.0
Armed-Forces            43603.0
Craft-repair         11089366.0
Exec-managerial       7738528.0
Farming-fishing       2307729.0
Handlers-cleaners     5933396.0
Machine-op-inspct     6063209.0
Other-service        11126388.0
Priv-house-serv        417082.0
Prof-specialty        9264450.0
Protective-serv       2071009.0
Sales                11105904.0
Tech-support          2848961.0
Transport-moving      4001436.0
Name: fnlwgt, dtype: float64

In [99]:
youthPercentageOccupation=(youthOccupation/totalYouth) * 100
youthPercentageOccupation

occupation
?                     6.027508
Adm-clerical         13.044572
Armed-Forces          0.047678
Craft-repair         12.125746
Exec-managerial       8.461748
Farming-fishing       2.523403
Handlers-cleaners     6.487914
Machine-op-inspct     6.629859
Other-service        12.166228
Priv-house-serv       0.456061
Prof-specialty       10.130279
Protective-serv       2.264559
Sales                12.143829
Tech-support          3.115217
Transport-moving      4.375399
Name: fnlwgt, dtype: float64

In [100]:
middleAgeOccupation=middleAge.groupby('occupation')['fnlwgt'].sum()
middleAgeOccupation

occupation
?                     2414281.0
Adm-clerical          9758143.0
Armed-Forces            18248.0
Craft-repair         13130835.0
Exec-managerial      14591033.0
Farming-fishing       2399019.0
Handlers-cleaners     2471132.0
Machine-op-inspct     5961537.0
Other-service         6770440.0
Priv-house-serv        323283.0
Prof-specialty       13677361.0
Protective-serv       1818704.0
Sales                 9114864.0
Tech-support          2679411.0
Transport-moving      5120569.0
Name: fnlwgt, dtype: float64

In [101]:
middleAgePercentageOccupation=(middleAgeOccupation/totalMiddleAge) * 100
middleAgePercentageOccupation

occupation
?                     2.675137
Adm-clerical         10.812483
Armed-Forces          0.020220
Craft-repair         14.549585
Exec-managerial      16.167554
Farming-fishing       2.658226
Handlers-cleaners     2.738131
Machine-op-inspct     6.605665
Other-service         7.501967
Priv-house-serv       0.358213
Prof-specialty       15.155162
Protective-serv       2.015210
Sales                10.099700
Tech-support          2.968914
Transport-moving      5.673832
Name: fnlwgt, dtype: float64

In [102]:
oldOccupation=old.groupby('occupation')['fnlwgt'].sum()
oldOccupation

occupation
?                    2618747.0
Adm-clerical         1195696.0
Craft-repair          780068.0
Exec-managerial      1502376.0
Farming-fishing       611677.0
Handlers-cleaners     269260.0
Machine-op-inspct     392903.0
Other-service        1127412.0
Priv-house-serv       152719.0
Prof-specialty       1361942.0
Protective-serv       264015.0
Sales                1453520.0
Tech-support          149109.0
Transport-moving      548995.0
Name: fnlwgt, dtype: float64

In [103]:
oldPercentageOccupation=(oldOccupation/totalOld) * 100
oldPercentageOccupation

occupation
?                    21.070603
Adm-clerical          9.620645
Craft-repair          6.276476
Exec-managerial      12.088212
Farming-fishing       4.921592
Handlers-cleaners     2.166483
Machine-op-inspct     3.161322
Other-service         9.071228
Priv-house-serv       1.228787
Prof-specialty       10.958271
Protective-serv       2.124281
Sales                11.695113
Tech-support          1.199740
Transport-moving      4.417248
Name: fnlwgt, dtype: float64

In [104]:
veryOldOccupation=veryOld.groupby('occupation')['fnlwgt'].sum()
veryOldOccupation

occupation
?                    112658.0
Adm-clerical          53292.0
Craft-repair          29521.0
Exec-managerial       82608.0
Farming-fishing       28042.0
Handlers-cleaners     14871.0
Machine-op-inspct     11467.0
Other-service         28542.0
Priv-house-serv        3658.0
Prof-specialty        72295.0
Protective-serv       13083.0
Sales                 56098.0
Transport-moving       7013.0
Name: fnlwgt, dtype: float64

In [105]:
veryOldPercentageOccupation=(veryOldOccupation/totalVeryOld) * 100
veryOldPercentageOccupation

occupation
?                    21.954290
Adm-clerical         10.385308
Craft-repair          5.752921
Exec-managerial      16.098280
Farming-fishing       5.464700
Handlers-cleaners     2.897994
Machine-op-inspct     2.234638
Other-service         5.562138
Priv-house-serv       0.712855
Prof-specialty       14.088528
Protective-serv       2.549557
Sales                10.932129
Transport-moving      1.366662
Name: fnlwgt, dtype: float64

RELATIONSHIP DISTRIBUTION

In [67]:
#grouping the population according to the relationship distribution

relationship=df.groupby('relationship')['fnlwgt'].sum()
relationship

relationship
Husband           78711359.0
Not-in-family     50546238.0
Other-relative     6417324.0
Own-child         31206226.0
Unmarried         21006479.0
Wife               9096126.0
Name: fnlwgt, dtype: float64

In [107]:
percentageRelationship=(relationship/newPopulation) * 100
percentageRelationship

relationship
Husband           39.958300
Not-in-family     25.660105
Other-relative     3.257794
Own-child         15.842030
Unmarried         10.664067
Wife               4.617704
Name: fnlwgt, dtype: float64

In [69]:
#grouping the individual age groups according to relationship distribution

childrenRelationship=children.groupby('relationship')['fnlwgt'].sum()
childrenRelationship

relationship
Husband              7054.0
Not-in-family       62350.0
Other-relative     106887.0
Own-child         2127077.0
Unmarried           36874.0
Name: fnlwgt, dtype: float64

In [109]:
childrenPercentageRelationship=(childrenRelationship/totalChildren) * 100
childrenPercentageRelationship

relationship
Husband            0.301422
Not-in-family      2.664254
Other-relative     4.567348
Own-child         90.891327
Unmarried          1.575649
Name: fnlwgt, dtype: float64

In [110]:
youthRelationship=youth.groupby('relationship')['fnlwgt'].sum()
youthRelationship

relationship
Husband           23028463.0
Not-in-family     26340958.0
Other-relative     4369864.0
Own-child         26009961.0
Unmarried          8058580.0
Wife               3645237.0
Name: fnlwgt, dtype: float64

In [111]:
youthPercentageRelationship=(youthRelationship/totalYouth) * 100
youthPercentageRelationship

relationship
Husband           25.180636
Not-in-family     28.802707
Other-relative     4.778259
Own-child         28.440776
Unmarried          8.811711
Wife               3.985910
Name: fnlwgt, dtype: float64

In [112]:
middleAgeRelationship=middleAge.groupby('relationship')['fnlwgt'].sum()
middleAgeRelationship

relationship
Husband           48416230.0
Not-in-family     20295316.0
Other-relative     1633789.0
Own-child          2995691.0
Unmarried         11899168.0
Wife               5008666.0
Name: fnlwgt, dtype: float64

In [113]:
middleAgePercentageRelationship=(middleAgeRelationship/totalMiddleAge) * 100
middleAgePercentageRelationship

relationship
Husband           53.647470
Not-in-family     22.488169
Other-relative     1.810315
Own-child          3.319367
Unmarried         13.184840
Wife               5.549839
Name: fnlwgt, dtype: float64

In [115]:
oldRelationship=old.groupby('relationship')['fnlwgt'].sum()
oldRelationship

relationship
Husband           7046964.0
Not-in-family     3659537.0
Other-relative     292437.0
Own-child           34344.0
Unmarried          970253.0
Wife               424904.0
Name: fnlwgt, dtype: float64

In [116]:
oldPercentageRelationship=(oldRelationship/totalOld) * 100
oldPercentageRelationship

relationship
Husband           56.700314
Not-in-family     29.444864
Other-relative     2.352966
Own-child          0.276334
Unmarried          7.806717
Wife               3.418804
Name: fnlwgt, dtype: float64

In [117]:
veryOldRelationship=veryOld.groupby('relationship')['fnlwgt'].sum()
veryOldRelationship

relationship
Husband           212648.0
Not-in-family     188077.0
Other-relative     14347.0
Own-child          39153.0
Unmarried          41604.0
Wife               17319.0
Name: fnlwgt, dtype: float64

In [118]:
veryOldPercentageRelationship=(veryOldRelationship/totalVeryOld) * 100
veryOldPercentageRelationship

relationship
Husband           41.439896
Not-in-family     36.651609
Other-relative     2.795880
Own-child          7.629963
Unmarried          8.107602
Wife               3.375050
Name: fnlwgt, dtype: float64

RACE

In [70]:
#grouping the population on the basis of race

race=df.groupby('race')['fnlwgt'].sum()
race

race
Amer-Indian-Eskimo      1198733.0
Asian-Pac-Islander      5299450.0
Black                  22714328.0
Other                   1704160.0
White                 166067081.0
Name: fnlwgt, dtype: float64

In [120]:
percentageRace=(race/newPopulation) * 100
percentageRace

race
Amer-Indian-Eskimo     0.608544
Asian-Pac-Islander     2.690298
Black                 11.531067
Other                  0.865127
White                 84.304964
Name: fnlwgt, dtype: float64

In [71]:
#grouping the individual age groups on the basis of race

childrenRace=children.groupby('race')['fnlwgt'].sum()
childrenRace

race
Amer-Indian-Eskimo       8198.0
Asian-Pac-Islander       9853.0
Black                  225766.0
Other                   46605.0
White                 2049820.0
Name: fnlwgt, dtype: float64

In [122]:
childrenPercentageRace=(childrenRace/totalChildren) * 100
childrenPercentageRace

race
Amer-Indian-Eskimo     0.350306
Asian-Pac-Islander     0.421025
Black                  9.647122
Other                  1.991461
White                 87.590087
Name: fnlwgt, dtype: float64

In [123]:
youthRace=youth.groupby('race')['fnlwgt'].sum()
youthRace

race
Amer-Indian-Eskimo      613308.0
Asian-Pac-Islander     2632039.0
Black                 11142543.0
Other                  1020078.0
White                 76045095.0
Name: fnlwgt, dtype: float64

In [124]:
youthPercentageRace=(youthRace/totalYouth) * 100
youthPercentageRace

race
Amer-Indian-Eskimo     0.670626
Asian-Pac-Islander     2.878022
Black                 12.183893
Other                  1.115412
White                 83.152048
Name: fnlwgt, dtype: float64

In [125]:
middleAgeRace=middleAge.groupby('race')['fnlwgt'].sum()
middleAgeRace

race
Amer-Indian-Eskimo      526662.0
Asian-Pac-Islander     2429589.0
Black                 10275994.0
Other                   600731.0
White                 76415884.0
Name: fnlwgt, dtype: float64

In [126]:
middleAgePercentageRace=(middleAgeRace/totalMiddleAge) * 100
middleAgePercentageRace

race
Amer-Indian-Eskimo     0.583566
Asian-Pac-Islander     2.692099
Black                 11.386287
Other                  0.665638
White                 84.672409
Name: fnlwgt, dtype: float64

In [127]:
oldRace=old.groupby('race')['fnlwgt'].sum()
oldRace

race
Amer-Indian-Eskimo       48877.0
Asian-Pac-Islander      211458.0
Black                  1040916.0
Other                    36746.0
White                 11090442.0
Name: fnlwgt, dtype: float64

In [128]:
oldPercentageRace=(oldRace/totalOld) * 100
oldPercentageRace

race
Amer-Indian-Eskimo     0.393267
Asian-Pac-Islander     1.701404
Black                  8.375275
Other                  0.295661
White                 89.234392
Name: fnlwgt, dtype: float64

In [129]:
veryOldRace=veryOld.groupby('race')['fnlwgt'].sum()
veryOldRace

race
Amer-Indian-Eskimo      1688.0
Asian-Pac-Islander     16511.0
Black                  29109.0
White                 465840.0
Name: fnlwgt, dtype: float64

In [130]:
veryOldPercentageRace=(veryOldRace/totalVeryOld) * 100
veryOldPercentageRace

race
Amer-Indian-Eskimo     0.328950
Asian-Pac-Islander     3.217590
Black                  5.672632
White                 90.780827
Name: fnlwgt, dtype: float64

SEX DISTRIBUTION

In [72]:
#grouping the population on the basis of sex

sex=df.groupby('sex')['fnlwgt'].sum()
sex

sex
Female     63758179.0
Male      133225573.0
Name: fnlwgt, dtype: float64

In [132]:
percentageSex=(sex/newPopulation) * 100
percentageSex

sex
Female    32.367227
Male      67.632773
Name: fnlwgt, dtype: float64

In [73]:
#grouping the individual age group on the basis of sex

childrenSex=children.groupby('sex')['fnlwgt'].sum()
childrenSex

sex
Female    1075685.0
Male      1264557.0
Name: fnlwgt, dtype: float64

In [134]:
childrenPercentageSex=(childrenSex/totalChildren) * 100
childrenPercentageSex

sex
Female    45.964691
Male      54.035309
Name: fnlwgt, dtype: float64

In [135]:
youthSex=youth.groupby('sex')['fnlwgt'].sum()
youthSex

sex
Female    32495210.0
Male      58957853.0
Name: fnlwgt, dtype: float64

In [136]:
youthPercentageSex=(youthSex/totalYouth) * 100
youthPercentageSex

sex
Female    35.532118
Male      64.467882
Name: fnlwgt, dtype: float64

In [137]:
middleAgeSex=middleAge.groupby('sex')['fnlwgt'].sum()
middleAgeSex

sex
Female    26061083.0
Male      64187777.0
Name: fnlwgt, dtype: float64

In [138]:
middleAgePercentageSex=(middleAgeSex/totalMiddleAge) * 100
middleAgePercentageSex

sex
Female    28.876911
Male      71.123089
Name: fnlwgt, dtype: float64

In [139]:
oldSex=old.groupby('sex')['fnlwgt'].sum()
oldSex

sex
Female    3951218.0
Male      8477221.0
Name: fnlwgt, dtype: float64

In [140]:
oldPercentageSex=(oldSex/totalOld) * 100
oldPercentageSex

sex
Female    31.791748
Male      68.208252
Name: fnlwgt, dtype: float64

In [141]:
veryOldSex=veryOld.groupby('sex')['fnlwgt'].sum()
veryOldSex

sex
Female    174983.0
Male      338165.0
Name: fnlwgt, dtype: float64

In [142]:
veryOldPercentageSex=(veryOldSex/totalVeryOld) * 100
veryOldPercentageSex

sex
Female    34.099909
Male      65.900091
Name: fnlwgt, dtype: float64

NATIVE COUNTRY

In [74]:
#grouping the population on the basis of native country

native=df.groupby('native.country')['fnlwgt'].sum()
native

native.country
?                               3590416.0
Cambodia                         117029.0
Canada                           694225.0
China                            428378.0
Columbia                         423768.0
Cuba                             746420.0
Dominican-Republic               428947.0
Ecuador                          166011.0
El-Salvador                      860243.0
England                          523611.0
France                           177671.0
Germany                          827432.0
Greece                           132719.0
Guatemala                        528876.0
Haiti                            293386.0
Holand-Netherlands                  889.0
Honduras                         105999.0
Hong                             141867.0
Hungary                           74849.0
India                            537643.0
Iran                             249943.0
Ireland                          105650.0
Italy                            423097.0
Jamaica                          548203.0
Japan                            367292.0
Laos                             121220.0
Mexico                          5906071.0
Nicaragua                        319514.0
Outlying-US(Guam-USVI-etc)        91327.0
Peru                             271526.0
Philippines                     1049234.0
Poland                           351994.0
Portugal                         175416.0
Puerto-Rico                      736560.0
Scotland                          64673.0
South                            417211.0
Taiwan                           303325.0
Thailand                         105751.0
Trinadad&Tobago                  128991.0
United-States                 173987155.0
Vietnam                          348988.0
Yugoslavia                       110232.0
Name: fnlwgt, dtype: float64

In [144]:
percentageNative=(native/newPopulation) * 100
percentageNative

native.country
?                              1.822697
Cambodia                       0.059410
Canada                         0.352428
China                          0.217469
Columbia                       0.215128
Cuba                           0.378925
Dominican-Republic             0.217758
Ecuador                        0.084276
El-Salvador                    0.436708
England                        0.265814
France                         0.090196
Germany                        0.420051
Greece                         0.067376
Guatemala                      0.268487
Haiti                          0.148939
Holand-Netherlands             0.000451
Honduras                       0.053811
Hong                           0.072020
Hungary                        0.037998
India                          0.272938
Iran                           0.126885
Ireland                        0.053634
Italy                          0.214788
Jamaica                        0.278299
Japan                          0.186458
Laos                           0.061538
Mexico                         2.998253
Nicaragua                      0.162203
Outlying-US(Guam-USVI-etc)     0.046363
Peru                           0.137842
Philippines                    0.532650
Poland                         0.178692
Portugal                       0.089051
Puerto-Rico                    0.373919
Scotland                       0.032832
South                          0.211800
Taiwan                         0.153985
Thailand                       0.053685
Trinadad&Tobago                0.065483
United-States                 88.325638
Vietnam                        0.177166
Yugoslavia                     0.055960
Name: fnlwgt, dtype: float64

INCOME

In [75]:
#grouping of the income on the basis of income

income=df.groupby('income')['fnlwgt'].sum()
income

income
<=50K    149970541.0
>50K      47013211.0
Name: fnlwgt, dtype: float64

In [146]:
percentageIncome=(income/newPopulation) * 100
percentageIncome

income
<=50K    76.133457
>50K     23.866543
Name: fnlwgt, dtype: float64

In [76]:
#grouping the individual age groups on the basis of income

childrenIncome=children.groupby('income')['fnlwgt'].sum()
childrenIncome

income
<=50K    2340242.0
Name: fnlwgt, dtype: float64

In [148]:
youthIncome=youth.groupby('income')['fnlwgt'].sum()
youthIncome

income
<=50K    80772939.0
>50K     10680124.0
Name: fnlwgt, dtype: float64

In [149]:
youthPercentageIncome=(youthIncome/totalYouth) * 100
youthPercentageIncome

income
<=50K    88.321743
>50K     11.678257
Name: fnlwgt, dtype: float64

In [150]:
middleAgeIncome=middleAge.groupby('income')['fnlwgt'].sum()
middleAgeIncome

income
<=50K    56922522.0
>50K     33326338.0
Name: fnlwgt, dtype: float64

In [151]:
middleAgePercentageIncome=(middleAgeIncome/totalMiddleAge) * 100
middleAgePercentageIncome

income
<=50K    63.072843
>50K     36.927157
Name: fnlwgt, dtype: float64

In [152]:
oldIncome=old.groupby('income')['fnlwgt'].sum()
oldIncome

income
<=50K    9489637.0
>50K     2938802.0
Name: fnlwgt, dtype: float64

In [153]:
oldPercentageIncome=(oldIncome/totalOld) * 100
oldPercentageIncome

income
<=50K    76.354215
>50K     23.645785
Name: fnlwgt, dtype: float64

In [154]:
veryOldIncome=veryOld.groupby('income')['fnlwgt'].sum()
veryOldIncome

income
<=50K    445201.0
>50K      67947.0
Name: fnlwgt, dtype: float64

In [155]:
veryOldPercentageIncome=(veryOldIncome/totalVeryOld) * 100
veryOldPercentageIncome

income
<=50K    86.758791
>50K     13.241209
Name: fnlwgt, dtype: float64

WORKING HOURS

In [77]:
#grouping the population on the basis of working hours

hours=df.groupby('hours.per.week')['fnlwgt'].sum()
hours

hours.per.week
1     106141.0
2     221782.0
3     240193.0
4     271469.0
5     326952.0
        ...
95      9540.0
96     48038.0
97     10617.0
98     52437.0
99    437805.0
Name: fnlwgt, Length: 94, dtype: float64

In [78]:
#getting the number of hours per week that most people work

individualHours=df.groupby('hours.per.week')['fnlwgt'].sum()
maxIndividualHours=individualHours.idxmax()
individualHoursMax=individualHours.max()
maxIndividualHours

40

In [79]:
#the number working for this particular number of hours

individualHoursMax

93811399.0

In [159]:
percentageHours=(individualHoursMax/newPopulation) * 100
percentageHours

47.623927378538305

CAPITAL GAIN

In [80]:
#Grouping the population on the basis of capital gain

gain=df.groupby('capital.gain')['fnlwgt'].sum()
gain

capital.gain
0        180712006.0
114          35079.0
401           5906.0
594         231479.0
914          38357.0
            ...
25236        75373.0
27828       165755.0
34095        38757.0
41310        15975.0
99999       978784.0
Name: fnlwgt, Length: 119, dtype: float64

In [81]:
#the capital gain with the most number of people

individualGain=df.groupby('capital.gain')['fnlwgt'].sum()
maxIndividualGain=individualGain.idxmax()
individualGainMax=individualGain.max()
maxIndividualGain

0

In [82]:
#the number of people with this particular capital gain

individualGainMax

180712006.0

In [163]:
percentageGain=(individualGainMax/newPopulation) * 100
percentageGain

91.73954915834885

CAPITAL LOSS

In [83]:
#grouping the population based on capital loss

loss=df.groupby('capital.loss')['fnlwgt'].sum()
loss

capital.loss
0       187995316.0
155          4493.0
213         22519.0
323         12751.0
419         22920.0
           ...
3004         7730.0
3683        16290.0
3770        11722.0
3900        12920.0
4356        12631.0
Name: fnlwgt, Length: 92, dtype: float64

In [84]:
#the capital loss with the highest number of people

individualLoss=df.groupby('capital.loss')['fnlwgt'].sum()
maxIndividualLoss=individualLoss.idxmax()
individualLossMax=individualLoss.max()
maxIndividualLoss

0

In [85]:
#the number of people with this particular capital loss

individualLossMax

187995316.0

In [167]:
percentageLoss=(individualLossMax/newPopulation) * 100
percentageLoss

95.43696578588877

RACE WITH RESPECT TO OCCUPATION

In [86]:
#grouping races based on occupation

blacks=df[df['race'] == 'Black']
blackOccupation=blacks.groupby('occupation')['fnlwgt'].sum()
blackOccupation

occupation
?                    1530734.0
Adm-clerical         3481597.0
Armed-Forces            9603.0
Craft-repair         1858495.0
Exec-managerial      1762403.0
Farming-fishing       295259.0
Handlers-cleaners    1381548.0
Machine-op-inspct    1919628.0
Other-service        3890000.0
Priv-house-serv       189955.0
Prof-specialty       1640399.0
Protective-serv       790320.0
Sales                1962616.0
Tech-support          584488.0
Transport-moving     1417283.0
Name: fnlwgt, dtype: float64

In [169]:
percentageBlacks=(blackOccupation/newPopulation) * 100
percentageBlacks

occupation
?                    0.777086
Adm-clerical         1.767454
Armed-Forces         0.004875
Craft-repair         0.943476
Exec-managerial      0.894695
Farming-fishing      0.149890
Handlers-cleaners    0.701351
Machine-op-inspct    0.974511
Other-service        1.974782
Priv-house-serv      0.096432
Prof-specialty       0.832759
Protective-serv      0.401211
Sales                0.996334
Tech-support         0.296719
Transport-moving     0.719492
Name: fnlwgt, dtype: float64

In [170]:
whites=df[df['race'] == 'White']
whiteOccupation=whites.groupby('occupation')['fnlwgt'].sum()
whiteOccupation

occupation
?                     9022858.0
Adm-clerical         18599816.0
Armed-Forces            49814.0
Craft-repair         22368166.0
Exec-managerial      21289190.0
Farming-fishing       4863772.0
Handlers-cleaners     7288949.0
Machine-op-inspct     9838159.0
Other-service        14968215.0
Priv-house-serv        721561.0
Prof-specialty       21558121.0
Protective-serv       3252737.0
Sales                19478016.0
Tech-support          4813200.0
Transport-moving      7954507.0
Name: fnlwgt, dtype: float64

In [171]:
percentageWhites=(whiteOccupation/newPopulation) * 100
percentageWhites

occupation
?                     4.580509
Adm-clerical          9.442310
Armed-Forces          0.025288
Craft-repair         11.355336
Exec-managerial      10.807587
Farming-fishing       2.469123
Handlers-cleaners     3.700279
Machine-op-inspct     4.994401
Other-service         7.598705
Priv-house-serv       0.366305
Prof-specialty       10.944111
Protective-serv       1.651272
Sales                 9.888133
Tech-support          2.443450
Transport-moving      4.038154
Name: fnlwgt, dtype: float64

In [176]:
asians=df[df['race'] == 'Asian-Pac-Islander']
asianOccupation=asians.groupby('occupation')['fnlwgt'].sum()
asianOccupation

occupation
?                    314154.0
Adm-clerical         736287.0
Craft-repair         491504.0
Exec-managerial      694462.0
Farming-fishing       84068.0
Handlers-cleaners    101161.0
Machine-op-inspct    333911.0
Other-service        565008.0
Priv-house-serv       16238.0
Prof-specialty       973188.0
Protective-serv       79281.0
Sales                531130.0
Tech-support         257045.0
Transport-moving     122013.0
Name: fnlwgt, dtype: float64

In [177]:
percentageAsians=(asianOccupation/newPopulation) * 100
percentageAsians

occupation
?                    0.159482
Adm-clerical         0.373781
Craft-repair         0.249515
Exec-managerial      0.352548
Farming-fishing      0.042678
Handlers-cleaners    0.051355
Machine-op-inspct    0.169512
Other-service        0.286830
Priv-house-serv      0.008243
Prof-specialty       0.494045
Protective-serv      0.040247
Sales                0.269631
Tech-support         0.130490
Transport-moving     0.061941
Name: fnlwgt, dtype: float64

In [179]:
eskimos=df[df['race'] == 'Amer-Indian-Eskimo']
eskimoOccupation=eskimos.groupby('occupation')['fnlwgt'].sum()
eskimoOccupation

occupation
?                     72083.0
Adm-clerical         100489.0
Armed-Forces           2434.0
Craft-repair         197356.0
Exec-managerial      109730.0
Farming-fishing       36053.0
Handlers-cleaners     74417.0
Machine-op-inspct     92180.0
Other-service        132478.0
Prof-specialty       104870.0
Protective-serv       28457.0
Sales                118091.0
Tech-support          17979.0
Transport-moving     112116.0
Name: fnlwgt, dtype: float64

In [180]:
percentageEskimos=(eskimoOccupation/newPopulation) * 100
percentageEskimos

occupation
?                    0.036593
Adm-clerical         0.051014
Armed-Forces         0.001236
Craft-repair         0.100189
Exec-managerial      0.055705
Farming-fishing      0.018303
Handlers-cleaners    0.037778
Machine-op-inspct    0.046796
Other-service        0.067253
Prof-specialty       0.053238
Protective-serv      0.014446
Sales                0.059950
Tech-support         0.009127
Transport-moving     0.056916
Name: fnlwgt, dtype: float64

RACE WITH RESPECT TO INCOME

In [87]:
#grouping races according to income

blacks=df[df['race'] == 'Black']
blackIncome=blacks.groupby('income')['fnlwgt'].sum()
blackIncome

income
<=50K    19798442.0
>50K      2915886.0
Name: fnlwgt, dtype: float64

In [182]:
percentageBlacksIncome=(blackIncome/newPopulation) * 100
percentageBlacksIncome

income
<=50K    10.050800
>50K      1.480267
Name: fnlwgt, dtype: float64

In [183]:
whites=df[df['race'] == 'White']
whiteIncome=whites.groupby('income')['fnlwgt'].sum()
whiteIncome

income
<=50K    123737629.0
>50K      42329452.0
Name: fnlwgt, dtype: float64

In [184]:
percentageWhitesIncome=(whiteIncome/newPopulation) * 100
percentageWhitesIncome

income
<=50K    62.816160
>50K     21.488804
Name: fnlwgt, dtype: float64

In [185]:
asians=df[df['race'] == 'Asian-Pac-Islander']
asianIncome=asians.groupby('income')['fnlwgt'].sum()
asianIncome

income
<=50K    3835311.0
>50K     1464139.0
Name: fnlwgt, dtype: float64

In [186]:
percentageAsiansIncome=(asianIncome/newPopulation) * 100
percentageAsiansIncome

income
<=50K    1.947019
>50K     0.743279
Name: fnlwgt, dtype: float64

In [187]:
eskimos=df[df['race'] == 'Amer-Indian-Eskimo']
eskimoIncome=eskimos.groupby('income')['fnlwgt'].sum()
eskimoIncome

income
<=50K    1049650.0
>50K      149083.0
Name: fnlwgt, dtype: float64

In [188]:
percentageEskimoIncome=(eskimoIncome/newPopulation) * 100
percentageEskimoIncome

income
<=50K    0.532861
>50K     0.075683
Name: fnlwgt, dtype: float64

SEX WITH RESPECT TO INCOME

In [88]:
#grouping gender with respect to income

males=df[df['sex'] == 'Male']
maleIncome=males.groupby('income')['fnlwgt'].sum()
maleIncome

income
<=50K    93120981.0
>50K     40104592.0
Name: fnlwgt, dtype: float64

In [190]:
percentageMaleIncome=(maleIncome/newPopulation) * 100
percentageMaleIncome

income
<=50K    47.273432
>50K     20.359340
Name: fnlwgt, dtype: float64

In [191]:
females=df[df['sex'] == 'Female']
femaleIncome=females.groupby('income')['fnlwgt'].sum()
femaleIncome

income
<=50K    56849560.0
>50K      6908619.0
Name: fnlwgt, dtype: float64

In [192]:
percentageFemaleIncome=(femaleIncome/newPopulation) * 100
percentageFemaleIncome

income
<=50K    28.860025
>50K      3.507202
Name: fnlwgt, dtype: float64

SEX WITH RESPECT TO OCCUPATION

In [89]:
#grouping gender based on occupation
males=df[df['sex'] == 'Male']
maleOccupation=males.groupby('occupation')['fnlwgt'].sum()
maleOccupation

occupation
?                     6122870.0
Adm-clerical          7840276.0
Armed-Forces            61851.0
Craft-repair         23684061.0
Exec-managerial      17115982.0
Farming-fishing       5022365.0
Handlers-cleaners     7854468.0
Machine-op-inspct     9188284.0
Other-service         9490411.0
Priv-house-serv         48719.0
Prof-specialty       15845546.0
Protective-serv       3655005.0
Sales                14645565.0
Tech-support          3508867.0
Transport-moving      9141303.0
Name: fnlwgt, dtype: float64

In [194]:
percentageMaleOccupation=(maleOccupation/newPopulation) * 100
percentageMaleOccupation

occupation
?                     3.108312
Adm-clerical          3.980164
Armed-Forces          0.031399
Craft-repair         12.023358
Exec-managerial       8.689032
Farming-fishing       2.549634
Handlers-cleaners     3.987368
Machine-op-inspct     4.664488
Other-service         4.817865
Priv-house-serv       0.024732
Prof-specialty        8.044088
Protective-serv       1.855486
Sales                 7.434910
Tech-support          1.781298
Transport-moving      4.640638
Name: fnlwgt, dtype: float64

In [195]:
females=df[df['sex'] == 'Female']
femaleOccupation=females.groupby('occupation')['fnlwgt'].sum()
femaleOccupation

occupation
?                     4968942.0
Adm-clerical         15247298.0
Craft-repair          1420741.0
Exec-managerial       6799331.0
Farming-fishing        363349.0
Handlers-cleaners     1070628.0
Machine-op-inspct     3253306.0
Other-service        10308330.0
Priv-house-serv        894689.0
Prof-specialty        8591324.0
Protective-serv        527958.0
Sales                 7580727.0
Tech-support          2174550.0
Transport-moving       557006.0
Name: fnlwgt, dtype: float64

In [196]:
percentageFemaleOccupation=(femaleOccupation/newPopulation) * 100
percentageFemaleOccupation

occupation
?                    2.522514
Adm-clerical         7.740384
Craft-repair         0.721248
Exec-managerial      3.451722
Farming-fishing      0.184456
Handlers-cleaners    0.543511
Machine-op-inspct    1.651561
Other-service        5.233086
Priv-house-serv      0.454194
Prof-specialty       4.361438
Protective-serv      0.268021
Sales                3.848402
Tech-support         1.103924
Transport-moving     0.282767
Name: fnlwgt, dtype: float64