In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('DataFiles/data.xlsx')

In [ ]:
df[['age','salary']]+[1,5000]

## Grouping and Aggregation
we group blah blah

In [8]:
grouped=df.groupby('department')

In [9]:
grouped

In [12]:
grouped=df.groupby('department')['salary'].sum()

In [13]:
grouped

department
Engineering    272000
HR             205000
Sales          166000
Name: salary, dtype: int64

In [15]:
grouped=df.groupby('department')['salary'].mean()
grouped

department
Engineering    68000.000000
HR             51250.000000
Sales          55333.333333
Name: salary, dtype: float64

In [19]:
df.groupby('department').agg({
             'salary': ['sum','mean','count','min','max','std','var','median']
})

             salary                                                 \
                sum          mean count    min    max          std
department
Engineering  272000  68000.000000     4  60000  80000  9092.121131
HR           205000  51250.000000     4  50000  52000   957.427108
Sales        166000  55333.333333     3  53000  58000  2516.611478


                      var   median
department
Engineering  8.266667e+07  66000.0
HR           9.166667e+05  51500.0
Sales        6.333333e+06  55000.0